<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.iancheng.ecommerce.mapper.ProductMapper">
    <!--    List<Product> getProducts()    -->
    <select id="getProducts" resultType="com.iancheng.ecommerce.model.Product">
        SELECT * FROM product
    </select>

    <!--    Product getProductById(Integer productId)    -->
    <select id="getProductById" resultType="com.iancheng.ecommerce.model.Product">
        SELECT * FROM product WHERE product_id = #{productId}
    </select>

    <!--    void createProduct(Product product)    -->
    <insert id="createProduct" useGeneratedKeys="true" keyProperty="productId">
        INSERT INTO product(product_name, category, image_url, price, stock, description, created_date, last_modified_date)
        VALUES (#{productName}, #{category}, #{imageUrl}, #{price}, #{stock}, #{description}, #{createdDate}, #{lastModifiedDate})
    </insert>

    <!--    void updateProduct(Product product)    -->
    <update id="updateProduct">
        UPDATE product SET product_name = #{productName}, category = #{category}, image_url = #{imageUrl},
        price = #{price}, stock = #{stock}, description = #{description}, last_modified_date = #{lastModifiedDate}
        WHERE product_id = #{productId}
    </update>

    <!--    void deleteProductById(Integer productId)    -->
    <delete id="deleteProductById">
        DELETE FROM product WHERE product_id = #{productId}
    </delete>
</mapper>