<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.iancheng.ecommerce.mapper.TokenMapper">
    <!--    List<Token> getValidTokensByUserId(Integer userId)   -->
    <select id="getValidTokensByUserId" resultType="com.iancheng.ecommerce.model.Token">
        SELECT t.token_id, t.jwt, t.token_type,
               t.expired, t.revoked
          FROM token t
         INNER JOIN user u ON t.user_id = u.user_id
         WHERE u.user_id = #{userId}
           AND (t.expired = false OR t.revoked = false)
    </select>

    <!--    Token getTokenByJwt(String jwt)    -->
    <select id="getTokenByJwt" resultType="com.iancheng.ecommerce.model.Token">
        SELECT token_id, user_id, jwt,
        token_type, expired, revoked
        FROM token
        WHERE jwt = #{jwt}
    </select>

    <!--    void createToken(Token token)    -->
    <insert id="createToken">
        INSERT INTO token (token_id, user_id, jwt,
                           token_type, expired, revoked)
        VALUES (#{tokenId}, #{userId}, #{jwt},
                #{tokenType}, #{expired}, #{revoked})
    </insert>

    <!--    void updateTokens(List<Token> tokens)    -->
    <update id="updateTokens" parameterType="java.util.List">
        <foreach collection="tokens" item="token" separator=";">
            UPDATE token SET expired = #{token.expired}, revoked = #{token.revoked}
             WHERE token_id = #{token.tokenId}
        </foreach>
    </update>

    <!--    void updateToken(Token token)    -->
    <update id="updateToken">
        UPDATE token SET expired = #{expired}, revoked = #{revoked}
        WHERE token_id = #{tokenId}
    </update>

</mapper>